<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inscription</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
  </head>
  <body>
    <nav>
      <ul class="navbar">
        <li><a href="/">Accueil</a></li>
        {% if app.user %} {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('app_admin') }}">Tableau de bord</a></li>
        {% endif %} {% else %}
        <li><a href="/register">S'inscrire</a></li>
        <li><a href="/login">Se connecter</a></li>
        {% endif %}
      </ul>
    </nav>

    <h1>Stubborn</h1>
    <p>Nom de la société : Stubborn</p>

    <p>
      Adresse :
      <a
        target="_blank"
        href="https://www.google.fr/maps/dir//Piccadilly+Circus,+London,+UK/@51.5098597,-0.1368558,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x487604d3ff201fc1:0xf08adf0cfb3eb2fe!2m2!1d-0.1342809!2d51.5098597!3e0?entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D"
        >Piccadilly Circus, London W1J 0DA, Royaume-Uni</a
      >
    </p>

    <p>
      Adresse de contact :
      <a target="_blank" href="mailto:stubborn@blabla.com"
        >stubborn@blabla.com</a
      >
    </p>

    <footer>
      <a href="/info"><p>Informations de la société</p></a>
    </footer>
  </body>
</html>
