<h1>Modifier l'Utilisateur</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Mettre à jour</button>
{{ form_end(form) }}

<a href="{{ path('admin_users') }}">Retour à la liste</a>
