* {
  font-family: Poppins;
}

a {
  text-decoration: none;
  color: black;
}
.slogan {
  font-size: 16px;
}
.active {
  font-weight: bold;
  text-decoration: underline;
}
.nav {
  border-bottom: 1px solid black;
}
.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
.navbar li {
  padding: 10px 20px;
}
.container_price {
  width: 200px;
  height: 130px;
}
.choice_price {
  text-align: center;
  border: 1px solid grey;
}
section {
  display: inline-block;
  margin: 20px;
}
.product_card {
  border: 1px solid black;
  height: 450px;
  width: 300px;
  padding: 20px;
}

.show_product {
  margin-left: 50px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-color: black;
}
.options {
  text-decoration: none;
  height: 75%;
  width: 100%;
  font-size: 16px;
}
.bloc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.logo_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 200px;
  height: 220px;
}

.bloc2 {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  top: 14%;
  transform: translateX(-50%);
}
