* {
  font-family: Poppins;
}
body {
  display: table;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.site_footer {
  margin-left: 30px;
  margin-top: 20px;
  border: 1px solid black;
  display: flex;
  padding-left: 40px;
  width: 90%;
}
/*NAVBAR*/
.slogan {
  font-size: 16px;
}
.active {
  font-weight: bold;
  text-decoration: underline;
}
.nav {
  border-bottom: 1px solid black;
}
.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
.navbar li {
  padding: 10px 20px;
}
/*Products section |Filter By Price*/
.container_price {
  width: 200px;
  height: 130px;
}
.choice_price {
  text-align: center;
  border: 1px solid grey;
}
section {
  display: inline-block;
  margin: 20px;
}
/*Product card for product page*/
.product_card {
  border: 1px solid black;
  height: 450px;
  width: 300px;
  padding: 20px;
}

.show_product {
  margin-left: 50px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-color: black;
}
.options {
  text-decoration: none;
  height: 75%;
  width: 100%;
  font-size: 16px;
}
/*Admin  section CSS | Navbar/Page*/
.bloc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.logo_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 200px;
  height: 220px;
}

.bloc2 {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  top: 14%;
  transform: translateX(-50%);
}

.form-container {
  display: flex;
  background-color: #fff;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 80px;
}

.form-container2 {
  display: flex;
  background-color: #a06161;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 60px;
}

.form-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
  flex-grow: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 12px;
}

.btn-ajouter {
  padding: 10px 50px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
}

.form-response {
  display: grid;
  height: 30px;
  width: 80px;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid black;
}

.form-response2 {
  display: grid;
  height: 30px;
  width: 80px;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid black;
}
.btn {
  padding: 20px;
}
/*Formulaire Login*/
.title-form {
  color: grey;
  border-bottom: 1px solid rgb(7, 186, 186);
}
.btn-login {
  margin: 10px;
  border: 0px;
  width: 150px;
  height: 30px;
  background-color: rgb(7, 186, 186);
  color: #fff;
  border-radius: 5px;
}
.form-recovery {
  color: grey;
  border-bottom: 1px solid rgb(7, 186, 186);
}
.form {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 50px;
  width: 250px;
}
.form-login {
  display: flex;
  border: 1px solid black;
  text-align: start;
  height: 350px;
  width: 220px;
  padding: 10px;
}
