<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href={{
      "styles/app.css"
    }}>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produit</title>
  </head>
  <body>
    <div class="nav">
      <nav>
        <ul class="navbar">
          <li><a class="active" href="/">Accueil</a></li>
          {% if app.user %}
          <li><a href="/products">Boutique</a></li>
          <li><a href="/cart">Panier</a></li>
          <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
          {% if is_granted('ROLE_ADMIN') %}
          <li><a href="{{ path('app_admin') }}">Tableau de bord</a></li>
          {% endif %} {% else %}
          <li><a href="/register">S'inscrire</a></li>
          <li><a href="/login">Se connecter</a></li>
          {% endif %}
        </ul>
      </nav>
      <img src={{ asset("assets/Logo.png") }} width="10%" alt="Logo" />
      <h1 class="slogan">Don't compromise on your look</h1>
    </div>
    <br />

    <footer>
      <a href="/info"><p>Informations de la société</p></a>
    </footer>
  </body>
</html>
